<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/home/logo.png" type="image/png" />
    <link rel="stylesheet" href="css/utility.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/phone.css" />
    <title>Search - iBlog</title>
  </head>
  <body>
    {{>nav}}

    <!-- divider  -->
    <div class="max-width-1 m-auto"><hr /></div>

    <!-- blog  -->
    <div class="blog-contents max-width-1 m-auto my2 font1">
      <h1>Search Results For Djange (0.3 seconds)</h1>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/5.svg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/4.svg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/3.jpg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/2.jpg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/home/home.jpg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/5.svg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>

      <div class="blog-content">
        <div class="blog-article-img">
          <img src="img/blog/4.svg" alt="article" />
        </div>
        <div class="blog-article-content">
          <h3>
            <a href="/blogpost">
              Lorem ipsum dolor sit amet consectetur adipisicing.</a
            >
          </h3>
          <div>Author Name</div>
          <span>06 January | 7 min read </span>
        </div>
      </div>
    </div>

   {{>footer}}
  </body>
</html>
