<!-- navbar  -->
<nav class="navigation max-width-1 m-auto my2">
  <div class="nav-left">
    <a href="/">
      <span><img src="img/home/logo.png" width="94px" alt="" /></span>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <form action="/search" method="get">
      <input
        type="text"
        class="form-control"
        name="query"
        id=""
        placeholder="Article Search"
      />
      <button class="btn">Search</button>
    </form>
  </div>
</nav>