extends base.pug 

block title
    title About Us - iCoder 

block scripts
  script(src='../static/js/script.js')

block style 
    style
        include ../static/css/utility.css
        include ../static/css/style.css
        include ../static/css/about.css
        include ../static/css/phone.css 

block content
    div.post-img.my2

    div.max-width-1.m-auto
        hr

    div.blogpost.max-width-1.m-auto.my2.font1
        h1 About Us
        div.blogpost-meta
            div.author-info
                div.font2
                    h2 Ankit Purohit
            div.social
                img(src="../static/img/social/facebook.svg", alt="facebook")
                img(src="../static/img/social/instagram.svg", alt="instagram")
                img(src="../static/img/social/linkedin.svg", alt="linkedin")
                img(src="../static/img/social/twitter.svg", alt="twitter")
        div.max-width-1.m-auto
        hr
        p I am specializes in providing relevant content for websites. Every website has a specific target audience and requires the most relevant content to attract business. Content should contain keywords specific business-related terms, which internet users might use in order to search for services or products) aimed towards improving a website's SEO. A website content writer who also has knowledge of the SEO process is referred to as an SEO Content Writer.
        p Most story pieces are centered on marketing products or services, though this is not always the case. Some websites are informational only and do not sell a product or service. These websites are often news sites or blogs. Informational sites educate the reader with complex information that is easy to understand and retain.
        p  We aims for relevance and search-ability. Relevance means that the website text should be useful and beneficial to readers. Search-ability indicates usage of keywords to help search engines direct users to websites that meet their search criteria. There are various ways through which websites come up with article writing, and one of them is outsourcing of the content writing. However, it is riskier than other options, as not all writers can write content specific to the web.