extends base.pug 

block title
    title Contact Us - iCoder 

block scripts
  script(src='../static/js/script.js')

block style 
    style
        include ../static/css/utility.css
        include ../static/css/style.css
        include ../static/css/contact.css
        include ../static/css/phone.css 

block content
    div.contact.max-width-1.m-auto.my2.font1
        h1 Feel Free to Contact Us
        form(action="/contact", method="post") 
            .form-box.font2
                input(type="text" name="name" id="name" placeholder="Enter Your Name" required)
            .form-box.font2
                input( type="email" name="email" id="email" placeholder="Enter Your Best Email" required)
            .form-box.font2
                input( type="number" name="number" id="number" placeholder="Enter Your Mobile Number" required)
            .form-box.font2
                textarea(name="concern" id="concern" cols="30" rows="10" required) Enter Your Concern
            button.btn Submit 