extends base.pug 

block title
    title iCoder - Heaven for Blogeers

block scripts
  script(src='../static/js/script.js')

block style 
    style
        include ../static/css/utility.css
        include ../static/css/style.css
        include ../static/css/phone.css 

block content
    div.blog-contents.max-width-1.m-auto.my2.font1
        h1 Search Results For Djange (0.3 seconds)
        div.blog-content
            .blog-article-img
                img(src="../static/img/5.svg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/4.svg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/3.jpg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/2.jpg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/home.jpg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/5.svg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 

        div.blog-content
            .blog-article-img
                img(src="../static/img/4.svg", alt="article")
            .blog-article-content
                h3 Lorem ipsum dolor sit amet consectetur adipisicing.
                div Author Name
                span 06 January | 7 min read 
